*{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #333;
}

a:hover{
  color: #999;
}


input {
  width: 300px;
  height: 30px;
  /* border: 0; */
  border: 1px solid #ccc;
  padding-left: 5px;
}

button{
  padding: 5px 10px;
  background: #ccc;
}

.container{
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}